In [ ]:
import numpy as np
import time

# 1. 파이썬 리스트를 사용한 경우
my_list = list(range(1_000_000))
start_time = time.time()
result_list = [x * 2 for x in my_list]
end_time = time.time()
print(f"파이썬 리스트 실행 시간: {end_time - start_time:.5f}초")


# 2. 넘파이 배열을 사용한 경우
my_array = np.arange(1_000_000)
start_time = time.time()
result_array = my_array * 2
end_time = time.time()
print(f"넘파이 배열 실행 시간: {end_time - start_time:.5f}초")

파이썬 리스트 실행 시간: 0.05695초
넘파이 배열 실행 시간: 0.00329초

In [ ]:
import numpy as np

In [ ]:
a = np.array([10,20,30,40,50])

In [ ]:
print(a[a>25])

[30 40 50]

In [ ]:
b = [1,2,3,4,5]

In [ ]:
b

[1, 2, 3, 4, 5]

In [ ]:
''' 속성과 메소드

메소드에는 괄호가 붙음
속성에는 괄호가 없음

In [ ]:
import numpy as np

In [ ]:
distances = np.array([1,2,3,5,8])

wind_speeds = np.array([0,5,10,7,12])

In [ ]:
base_usage_rate = 10

additional_usafe_rate = wind_speeds

In [ ]:
total_usage_rate = base_usage_rate + additional_usafe_rate

In [ ]:
battery_consumption = distances * total_usage_rate

In [ ]:
print("비행거리(km) : ", distances)
print("풍속(m/s) : ", wind_speeds)
print("총 소모율(%/km) : ", total_usage_rate)
print("예상 배터리 소모량(%)", battery_consumption)

비행거리(km) :  [1 2 3 5 8]
풍속(m/s) :  [ 0  5 10  7 12]
총 소모율(%/km) :  [10 15 20 17 22]
예상 배터리 소모량(%) [ 10  30  60  85 176]

In [ ]:
import pandas as pd

df = pd.read_csv("/Iris.csv")

In [ ]:
print(df.head)

<bound method NDFrame.head of       Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 6 columns]>

In [ ]:
display(df["SepalLengthCm"]<5)

0      False
1       True
2       True
3       True
4      False
       ...
145    False
146    False
147    False
148    False
149    False
Name: SepalLengthCm, Length: 150, dtype: bool